.mainbody{
    margin-top: 10px;
    margin-left:150px;
    margin-right:500px;
    padding-left: 25px;
    padding-top:7px;
    padding-bottom:26px;
    background-color:#E9ECEF;
    border-radius: 10px;
}

.main_top{
    margin-top: 15px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.main_top_center{
    display:flex;
    box-sizing: content-box;
    align-items: center;
    padding:3px 5px;
    border-radius:6px;
    font-size: 16px;
    
}

.main_top_center:hover{
    background-color:#F4F4F9 ;
}

.main_top_right{
    display: flex;
    align-items: center;
}

.main_docs{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 20px;
}

